Admin_Echo/build/
echo_app/app/build/
**/*.apk
**/*.pkg
AtualizaGIT.bat
Servidor/
Echo_app.older
Admin_Echo/credentials.js
Admin_Echo/usuarios.db
Admin_Echo/usuarios_old.db
Admin_Echo/iniciar_servidor.bat
Admin_Echo/admin.html
Admin_Echo/login.html
Admin_Echo/requirements.txt
Admin_Echo/cifras.db
echo_app/README.md